<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "I-Need" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">I-Need</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <p class="navbar-text pull-right">
              <% if user_signed_in? %>
                Logado como: <strong><%= current_user.name %> <%= current_user.sobrenome%></strong>.
                <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_user_session_path, method:  :delete, :class => 'navbar-link'  %> |
              <% else %>
                <%= link_to "Registrar-se", new_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> |
              <% end %> 
              <%= link_to "Página Inicial", root_path, :class => 'navbar-link' %>
         </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Opções</h3>
            <ul class="nav nav-list">
              <li class="nav-header"></li>
              <li><%= link_to "Ofertar Serviço", new_service_path  %></li>
              <li><%= link_to "Serviços disponíveis", services_path   %></li>
              <li><%= link_to "Ver Categorias", categories_path   %></li>
              <li><%= link_to "Meu(s) Serviços",  my_path, :class => 'navbar-link' %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2019</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
