<%- model_class = Category -%>
<div class="page-header">
  <h1><%='Categorias' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:titulo) %></th>
      <th><%= 'Quantidade de Serviços' %></th>
      <th><%=t '.ações', :default => t("helpers.ações") %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%=category.titulo%></td>
        <td><%=Service.where(category_id: category.id).length %></td>
        <td>
          <%= link_to t('.ver_serviços', :default => t("helpers.links.ver_serviços")),
                      category_path(category), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @categories, window: 2 %>

