<%- model_class = Category -%>
<div class="page-header">
  <h1><%=@category.titulo %></h1>
  <hr>
  <h3><%= 'Serviços' %></h3>

<table class="table table-striped">
    <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:titulo) %></th>
      
      <th><%= model_class.human_attribute_name(:proprietário_id) %></th>
      <th><%= model_class.human_attribute_name(:likes) %></th>
      <th><%= model_class.human_attribute_name(:dislikes) %></th>
      <th><%= model_class.human_attribute_name(:preco) %></th>
      <th><%= model_class.human_attribute_name(:horario) %></th>
      
      <th><%=t '.ações', :default => t("helpers.ações") %></th>
    </tr>
</thead>
  <tbody>
  <%@services.each do |service|%>
  	<tr>
        
        <td><%= service.titulo %></td>
      
        <td><%= User.find(service.user_id).name %> <%=User.find(service.user_id).sobrenome%></td>
        <td><%= service.get_likes.size %></td>
        <td><%= service.get_dislikes.size %></td>
        <td><%= service.preco %></td>
        <td><%= service.horario %></td>
        <td>
          <%= link_to t('.ver_serviço', :default => t("helpers.links.ver_serviço")),
                      service_path(service), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
  <%end%>
</tbody>
</table>
</div>
<%= link_to 'Voltar', categories_path, :class => 'btn btn-default'  %>
<%= paginate @services, window: 2%> 
