<%= form_for @service, :html => { :class => "form-horizontal service" } do |f| %>

  <% if @service.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :titulo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :titulo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:titulo) %>
  </div>
  <div class="form-group">
    <%= f.label :descricao, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :descricao, :class => 'form-control' %>
    </div>
    <%=f.error_span(:descricao) %>
  </div>
  
  <div class="form-group">
    <%= f.label 'Preço (Reais)', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :preco, :class => 'form-control' %>
    </div>
    <%=f.error_span(:preco) %>
  </div>
  <div class="form-group">
    <%= f.label :horario, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :horario, :class => 'form-control' %>
    </div>
    <%=f.error_span(:horario) %>
  </div>
  <div class="form-group">
    <%= f.label :categoria_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select_tag :category_id, options_from_collection_for_select(@categories, "id", "titulo"), prompt: "Selecione uma categoria"%>
    </div>
    <%=f.error_span(:category_id) %>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Criar Serviço', :class => 'btn btn-primary' %>
      <%= link_to t('.cancelar', :default => t("helpers.links.cancelar")),
                services_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
