<%- model_class = Service -%>
<div class="page-header">
  <h1><%='Serviços' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:titulo) %></th>
      
      <th><%= model_class.human_attribute_name(:proprietário_id) %></th>
      <th><%= model_class.human_attribute_name(:categoria_id) %></th>
      <th><%= model_class.human_attribute_name(:likes) %></th>
      <th><%= model_class.human_attribute_name(:dislikes) %></th>
      <th><%= 'Preço' %></th>
      <th><%= model_class.human_attribute_name(:horario) %></th>
      
      <th><%=t '.ações', :default => t("helpers.ações") %></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        
        <td><%= service.titulo %></td>
      
        <td><%= User.find(service.user_id).name %> <%=User.find(service.user_id).sobrenome%></td>
        <td><%= link_to Category.find(service.category_id).titulo , category_path(service.category_id) %></td>
        <td><%= service.get_likes.size %></td>
        <td><%= service.get_dislikes.size %></td>
        <td><%= service.preco %> R$</td>
        <td><%= service.horario %></td>
        <td>
          <%= link_to t('.ver_serviço', :default => t("helpers.links.ver_serviço")),
                      service_path(service), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @services, window: 2 %>