<%- model_class = Service -%>
<div class="page-header">
  <h1><%='Meu(s) Serviços' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:titulo) %></th>
      
      
      <th><%= model_class.human_attribute_name(:categoria_id) %></th>
      
      
      <th><%=t '.ações', :default => t("helpers.ações") %></th>
    </tr>
  </thead>
  <tbody>
    <% Service.where(user_id: current_user.id).each do |service| %>
      <tr>
        
        <td><%= service.titulo %></td>
      
        <td><%= link_to Category.find(service.category_id).titulo , category_path(service.user_id) %></td>
        <td>
          <%= link_to t('.ver_serviço', :default => t("helpers.links.ver_serviço")),
                      service_path(service), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>