<%- model_class = Service -%>
<div class="page-header">
  <h1><%='Serviço' %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:titulo) %>:</strong></dt>
  <dd><%= @service.titulo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descricao) %>:</strong></dt>
  <dd><%= @service.descricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:proprietario) %>:</strong></dt>
  <dd><%= User.find(@service.user_id).name %> <%=User.find(@service.user_id).sobrenome%></dd>
  <dt><strong><%= model_class.human_attribute_name(:categoria) %>:</strong></dt>
  <dd><%= link_to Category.find(@service.category_id).titulo , category_path(@service.category_id)  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:likes) %>:</strong></dt>
  <dd><%= @service.get_upvotes.size%></dd>
  <dt><strong><%= model_class.human_attribute_name(:deslikes) %>:</strong></dt>
  <dd><%= @service.get_downvotes.size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:preco) %>:</strong></dt>
  <dd><%= @service.preco%><%= ' R$'%></dd>
  <dt><strong><%= model_class.human_attribute_name(:horario) %>:</strong></dt>
  <dd><%= @service.horario %></dd>
</dl>
<%if current_user.id == @service.user_id%>
  <%= button_to('Editar',edit_service_path(@service),method: :get,:class => 'btn btn-default btn-like', remote: :true) %>
  <%= button_to('Deletar',service_path(@service), method: :delete,:class => 'btn btn-danger btn-dislike', remote: :true) %>
  <br />
<%else%>
  <%= button_to('Like',like_service_path(@service), method: :put,:class => 'btn btn-default btn-like', remote: :true) %>
  <%= button_to('Dislike',dislike_service_path(@service), method: :put,:class => 'btn btn-default btn-dislike', remote: :true) %>
  <%= button_to('Comprar', services_compra_path(@service.id), method: :post,:class => 'btn btn-default btn-buy') %>
<%end%>



<hr>

<%= link_to t('.voltar', :default => t("helpers.links.voltar")),
              services_path, :class => 'btn btn-default btn-back'  %>



<style type="text/css">
  .btn-like {
    float:left;
    margin-right: 5px
  }
  .btn-dislike {
   float:left;
   margin-left: 5px
  }
  .btn-back{
    float: :left;
    margin-right: 5px
    margin-top: 5px;
  }

  .btn-buy{
    float: :left;
    margin-left: 10px
  }
</style>